#modal-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  min-height: 100%;
  min-width: 100%;
  background-color: black;
  opacity: 0.95;
  z-index: 0;
}

#book-search {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  min-height: 75%;
  min-width: 60%;
  background-color: #707070;
  padding-bottom: 35px;
  z-index: 1;
}

#search-books-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 0.3fr);
  height: 100%;
  width: 100%;
}

#search-input {
  position: relative;
  max-width: 100%;
  padding: 8px;
  border: #ddd 1px solid;
  border-radius: 5px;
  font-size: 14px;
  line-height: normal;
}

#search-button {
  display: block;
  width: 10%;
  background-color: #1688e0;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  text-align: center;
}

#search-wrapper {
  display: flex;
  width: 100%;
  height: 35px;
  justify-content: center;
}

#close {
  position: fixed;
  width: 4%;
  background-color: #1688e0;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  text-align: center;
  height: 34px;
  top: 20px;
}
